body 
{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 
{
    font-weight: bold;
}

.list-group-item 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-div
{
    width: 40%;
    border: 1px solid black;
}
