body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background: white;
    width: 340px;
    padding: 25px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #084298;
}

.error {
    color: red;
    font-size: 12px;
}

.link {
    text-align: center;
    margin-top: 10px;
}
